{% extends 'bird_logs/base.html' %}

{% block content %}

  <p>Bird: {{ bird.text }}</p>
  <p><a href="{% url 'bird_logs:edit_bird' bird.id %}">Edit bird</a></p>
  <p>Main Color: {{ bird.get_main_color_display }}</p>
  <p>Description:</p>
  <p>{{ bird.description }}</p>

  <p>Sightings:</p>
  <p>
    <a href="{% url 'bird_logs:new_sighting' bird.id %}">Add new sighting</a>
  </p>
  <ul>
    {% for sighting in sightings %}
      <li>
        <p>{{ sighting.sighting_date|date:'M d, Y' }}</p>
        <p>{{ sighting.text|linebreaks }}</p>
        <p>
          <a href="{% url 'bird_logs:edit_sighting' sighting.id %}">
           Edit sighting</a></p>
      </li>
    {% empty %}
      <li>There are no sightings for this bird yet.</li>
    {% endfor %}
  </ul>

{% endblock content %}
