{% extends 'bird_logs/base.html' %}

{% block page_header %}
  <h1>Statistics</h1>
{% endblock page_header %}

{% block content %}

<form method="get">
  <label for="sort">View:</label>
  <select name="sort" id="sort" onchange="this.form.submit()">
    <option value="colors" {% if current_sort == 'colors' %}selected{% endif %}>Color Counts</option>
    <option value="sightings" {% if current_sort == 'sightings' %}selected{% endif %}>Number of Sightings</option>
  </select>
</form>

<br>

{% if current_sort == 'sightings' %}
<table>
  <tr>
    <th width="200">Bird</th>
    <th width="100">Sightings</th>
  </tr>
  {% for bird in counts %}
  <tr>
    <td>{{ bird.text }}</td>
    <td>{{ bird.sighting_count }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="2">No birds have been added yet.</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<table>
  <tr>
    <th width="100">Color</th>
    <th width="100">Count</th>
  </tr>
  {% for item in counts %}
  <tr>
    <td>{{ item.color_name }}</td>
    <td>{{ item.count }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="2">No birds have been added yet.</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock content %}
