{% extends 'bird_logs/base.html' %}

{% block page_header %}
  <div class="p-3 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-4">
      <h1 class="display-3">Your Go-To Bird Database</h1>

      <p class="lead">Make your own Bird Log, and keep a list of the
      birds you've seen. Whenever you see a new bird, add it to the list
      and add any related sightings to look back on.</p>

      <a class="btn btn-primary btn-lg mt-1"
        href="{% url 'accounts:register' %}">Register &raquo;</a>
    </div>
  </div>
{% endblock page_header %}
